.div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.div__sobre_contatos{
    width: 50vw;
}
@media screen and (max-width:767px){
    .div{
        display: block;
    }
    .div__sobre_contatos{
        width: 100vw;
    }
}