
.section__contato--inativo{
   display: grid;
   grid-template-columns: 80% 20%;
   height: 15rem;
   color: black;
   margin-bottom: 1rem;
}
@media screen and (max-width:767px){
   .section__contato--inativo{
      grid-template-columns: 70% 30%;
   }
}