.titulo__sobre{
    margin-top: 5rem;
    font-size: 1.5rem;
    margin-left: 0.5rem;
    font-weight: bold;
    width: 4rem;
    height: 1.5rem;
    transition: all .3s linear;
    
}
.titulo__sobre:hover{
    cursor: pointer;
}
.titulo__sobre--inativo{
    margin-top: 5rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 2rem;
    width: 4rem;
    transition: all .3s linear;
    height: 2rem;
}
.titulo__sobre--inativo:hover{
    cursor: pointer;
}